@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
input { outline: none; }
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.table-container {
  border: 12px solid #e5e7eb;
  border-radius: 8px;
  background-color: #e5e7eb;
}

.table th,
.table td {
  padding: 12px 24px;
  
  border: 12px solid #e5e7eb;
  background-color: #ffffff;
}

.table th {
  background-color: #ffffff;
}
